nav{
  background-color: rgba(9,48,9,0.9) !important;
  padding: 0 !important;
}

nav img
{
  width: 80px !important;
  margin-left: 25px;
  margin-right: 10px;
}

.vl {
  border-left: 2px solid green;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

nav a:hover
{
  background-color: #032202;
}

nav a{
  color: white !important;
}
